MYSQL_HOST=""
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_DATABASE=""
MAP_PATH="/home/<pc_user_here>/catkin_ws/src/ROS-dashboard-backend/map"
MQTT_BROKER_IP=""
TIMEZONE=7          # UTC+(timezone), change according to your timezone
JWT_SECRET_KEY=""       # fill with random string