<launch>
    <!-- Define an argument for the map name -->
    <arg name="map_name" default="turtlebot_house.yaml" />

    <!-- Argument Simulation or Not -->
    <arg name="use_hive" default="true" />

    <!-- Launch for topic2string pkg launchfile -->
    <include file="$(find topic2string)/launch/aws.launch" />

    <!-- Launch for aws_mqtt pkg launchfile only if use_aws is true -->
    <group if="$(arg use_hive)">
        <include file="$(find aws_mqtt)/launch/hive_aws.launch" />
    </group>

    <!-- NODE MAP SERVER -->
    <node name="mapaws_server" pkg="map_server" type="map_server" args="$(find msd700_webui_bringup)/maps/$(arg map_name)" output="screen">
        <!-- Change topic into /server/map -->
        <remap from="map" to="/server/map"/>
        <!-- Change service topic into /server/static_map -->
        <remap from="static_map" to="/server/static_map"/>
    </node>
    
</launch>