<launch>

    <!-- Argument Simulation or Not -->
    <arg name="use_cloud" default="true"/>
    <arg name="use_aws" default="false" />
    <arg name="use_hive" default="true" />

    <!-- Launch for topic2string pkg launchfile -->
    <include file="$(find topic2string)/launch/cloud.launch" />

    <!-- Launch for aws_mqtt pkg based on the use_cloud argument -->
    <group if="$(arg use_cloud)">
        <group if="$(and $(arg use_aws) $(not $(arg use_hive)))">
            <include file="$(find aws_mqtt)/launch/cloud_aws.launch" />
        </group>

        <group if="$(and $(arg use_hive) $(not $(arg use_aws)))">
            <include file="$(find aws_mqtt)/launch/hive_cloud.launch" />
        </group>
    </group>
    
</launch>

    <!-- NODE MAP SERVER -->
    <!-- <node name="mapaws_server" pkg="map_server" type="map_server" args="$(find msd700_webui_bringup)/maps/$(arg map_name)" output="screen"> -->
        <!-- Change topic into /server/map -->
        <!-- <remap from="map" to="/server/map"/> -->
        <!-- Change service topic into /server/static_map -->
        <!-- <remap from="static_map" to="/server/static_map"/> -->
    <!-- </node> -->