<launch>

    <!-- Define the use_sim argument with default value true -->
    <arg name="use_cloud" default="true" />
    <arg name="use_aws" default="false" />
    <arg name="use_hive" default="true" />

    <!-- Launch for topic2string pkg launchfile -->
    <include file="$(find topic2string)/launch/msd.launch" />

    <!-- Launch for msd700 control -->
    <include file="$(find msd700_webui_control)/launch/emergency_stop.launch" />

    <!-- Launch particle align validator -->
    <include file="$(find msd700_webui_control)/launch/particle_align_validator.launch" />

    <!-- Launch for map saver -->
    <include file="$(find msd700_webui_control)/launch/map_saver.launch" />

    <!-- Conditionally launch aws_mqtt pkg based on use_cloud argument -->
    <group if="$(arg use_cloud)">
        <group if="$(and $(arg use_aws) $(not $(arg use_hive)))">
            <include file="$(find aws_mqtt)/launch/cloud_msd.launch" />
        </group>

        <group if="$(and $(arg use_hive) $(not $(arg use_aws)))">
            <include file="$(find aws_mqtt)/launch/hive_msd.launch" />
        </group>
    </group>
    
</launch>