<launch>

    <!-- Argument Simulation or Not -->
    <arg name="use_cloud" default="true"/>
    <arg name="use_aws" default="false" />
    <arg name="use_hive" default="false" />

    <!-- Launch for topic2string pkg launchfile -->
    <include file="$(find topic2string)/launch/cloud.launch" />

    <!-- Launch the backend API -->
    <include file="$(find ros_dashboard_backend)/launch/ros_dashboard_backend.launch">
        <arg name="use_compression" value="true"/>
        <arg name="rosbridge_websocket" value="true"/>
    </include>

    <!-- Launch for aws_mqtt pkg based on the use_cloud argument -->
    <group if="$(arg use_cloud)">
        <group if="$(arg use_aws)">
            <include file="$(find aws_mqtt)/launch/cloud_aws.launch" />
        </group>

        <group if="$(arg use_hive)">
            <include file="$(find aws_mqtt)/launch/hive_cloud.launch" />
        </group>
    </group>
    
</launch>