<launch>
    <!-- Param -->
    <arg name="use_dual_machine" value="false"/>

    <!-- launch bringup_cloud and bringup_msd with use_cloud false -->
    <include file="$(find msd700_webui_bringup)/launch/bringup_cloud.launch">
        <arg name="use_cloud" value="false"/>
    </include>

    <include file="$(find msd700_webui_bringup)/launch/bringup_msd.launch">
        <arg name="use_cloud" value="false"/>
    </include>

</launch>