<launch>
    <arg name="namespace" default="msd" />

    <!-- Define Arguments -->
    <arg name="pause_topic" default="/emergency_pause" />
    <arg name="emergency_topic" default="/mux/emergency_vel" />
    <arg name="publish_frequency" default="10.0" />

    <!-- Launch Node -->
    <node ns="$(arg namespace)" pkg="msd700_webui_control" type="emergency_stop_node" name="emergency_stop_node" output="screen">
        <param name="pause_topic" value="$(arg pause_topic)" />
        <param name="emergency_topic" value="$(arg emergency_topic)" />
        <param name="publish_frequency" value="$(arg publish_frequency)" />
    </node>
</launch>
