<launch>
    <node name="action_server" pkg="topic2string" type="action_server.py" output="screen">
    </node>

    <node name="robotpose_server" pkg="topic2string" type="robotpose_from_string.py" output="screen">
    </node>

    <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
    </node>

    <!-- <node name="map_from_string" pkg="topic2string" type="map_from_string.py" output="screen">
    </node> -->

    <!-- NODE MAP SERVER -->
    <node name="mapaws_server" pkg="map_server" type="map_server" args="$(find topic2string)/maps/turtlebot_house.yaml" output="screen">
        <!-- Change topic into /server/map -->
        <remap from="map" to="/server/map"/>
        <!-- Change service topic into /server/static_map -->
        <remap from="static_map" to="/server/static_map"/>
    </node>
    
</launch>